server:
  port: 8082

spring:
  application:
    name: movie-service
  data:
    mongodb:
      uri: mongodb://root:abc@123@localhost:27017/revtickets_movie_db?authSource=admin

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
